
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: lightblue;
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    }
    
    
header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgb(255, 255, 255);
    padding: 2vh;
    align-items: center;
}
footer{
    background-color: rgb(255, 95, 95);
    padding: 2%;
    color: #fff;
}

nav ul {
	display: flex;
	list-style: none;
    justify-content: end;
}

nav li {
	margin: 2% 2%;
}
nav a {
	color: #020202;
	text-decoration: none;
	font-size: 14px;
	font-weight: bold;
}

nav a:hover {
    color: #646363;
    font-size: large;
}
.tickets{
    color: #ffffff;
    background-color: #020202;
    padding: 2%;
}
header input#burger{
    display: none;
}

header label[for="burger"] {
    position: fixed;
    z-index: 3;
    top: 0;
    right: 0;
    display: none;
    width: 100%;
    padding: 1rem 1ch;
    background-color: var(--bgc-02);
    text-align: right;
    cursor: pointer;
}

header label[for="burger"] i {
    margin: 0;
    font-size: 1.25rem;
}

    .tickets{
        padding: 1%;
    }

    header input#burger:checked+label[for="burger"]+nav ul {
        display: flex;
        flex-direction: column;
    }


.logo img {
    height: 10vh;
}
.title{
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: x-large
}
.line-up-grid{
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    justify-items: center;
    gap: 2rem;
    margin-bottom: 3%;
}
.picture{
    color: rgb(255, 255, 255);
    transition: width 0.3s, height 0.3s; 
}
.picture img:hover{
    cursor: pointer;
    height: 35vh;

}

.picture a{
    color: #fff;
    text-decoration: none;
}
.footer-grid{
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;;
    gap: 2rem;
}
.footer-policies{
    text-align: center;
}
.footer-artists{
    text-align: end;
}
.footer-artists a{
    color: #fff;
}
.social-media{
    text-align: center;
    padding-top: 2%;
}

.coldplay_title{
    text-align: center;
    font-size: x-large;
}

.coldplay-img1{
    width: 45vw;
    height: 75vh;
    overflow: hidden;

}
.coldplay-img1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.artist-grid{
    display: grid;
    grid-template-columns:auto auto;
    align-items: center;
    gap: 2rem;
    margin: 2%;
}
.text_coldplay{
    color: #fff;
}
.iframe{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2%;
}










.neon{
    color: #fff;
    text-shadow:
    0 0 14px #e4dfdf,
    0 0 17px #fff,
    0 0 18px #fff,
    0 0 49px rgb(255, 255, 255),
    0 0 89px rgb(252, 252, 252),
    0 0 99px rgb(255, 255, 255),
    0 0 109px rgb(255, 255, 255),
    0 0 158px rgb(255, 255, 255);
    animation: flicker 1.5s infinite alternate; ;
}
@keyframes flicker {
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
      text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px rgb(255, 255, 255),
        0 0 80px rgb(255, 255, 255),
        0 0 90px rgb(255, 255, 255),
        0 0 100px rgb(255, 255, 255),
        0 0 150px rgb(255, 255, 255);
}

20%, 24%, 55% {       
    text-shadow: none;
}
}

@media (width <=750px) {
    header label[for="burger"] {
        display: block;
    }

    header nav ul {
        position: fixed;
        z-index: 3;
        top: 3rem;
        right: 0;
        display: none;
        padding-right: 1ch;
        width: 100%;
        background-color: var(--bgc-02);
        text-align: right;
        user-select: none;
        background-color: #ffffff;
    }
    .line-up-grid{
        display: grid;
        grid-template-columns:  auto ;
        align-items: center;
        justify-items: center;
        gap: 2rem;
        margin-bottom: 3%;
    }    

}