
            body{
                background-image: url(./images/Background.jpg);
                background-size: cover;
                background-repeat: no-repeat;
                background-attachment: fixed;
                color: aliceblue;
                font-family:Verdana, Geneva, Tahoma, sans-serif;
                font-size: small;
            }
            header{
                padding: 2;
                margin-bottom: 1%;
                text-align: center;
            }
            #home{
                font-size: xx-large;
                padding-top: 2%;
                padding-bottom: 3%;
            }
            #merch{
                background-color: rgba(0, 0, 0, 0.527);
                text-align: center;
                padding-bottom: 1px;
                padding-top: 1px;
            
            }
            #about{
                text-align: center;
                padding-top: 1px;
                padding-bottom: 2px;
                margin: 2% 15%;
            }
            #gallery{
                padding-top: 2px;
                background-color: rgba(0, 0, 0, 0.527);
            }
            footer{
                background-color: rgba(0, 0, 0, 0.37);
                text-align: center;
                padding-top: 1px;
                padding-bottom: 1px;
            }
            #merchlinks{
                color: #ffffff;
            }
            #gallerypic{
                width: 49%;
                
            }
           
            
            nav li{
                display: inline;
            }
            li a{
                display: inline;
                color: #f2f2f2;
                padding: 1% 6%;
                text-decoration: none;
                font-size: 17px;
                background-color: rgba(0, 0, 0, 0.295);
            }
            li a:hover{
                background-color: #ddd;
                color: black;
                display: inline;
            }
            #covertext {
                font-size: 450%;
                font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
                color: rgba(240, 248, 255, 0.79);
                padding-left: 3%;
                color: #fff;
            }
            .neon{
                color: #fff;
                text-shadow:
                  0 0 7px #e4dfdf,
                  0 0 10px #fff,
                  0 0 11px #fff,
                  0 0 42px rgb(111, 194, 166),
                  0 0 82px #0fa,
                  0 0 92px #0fa,
                  0 0 102px #0fa,
                  0 0 151px #0fa;
                  animation: flicker 1.5s infinite alternate;     
            }
            @keyframes flicker {
                0%, 18%, 22%, 25%, 53%, 57%, 100% {
                  text-shadow:
                    0 0 4px #fff,
                    0 0 11px #fff,
                    0 0 19px #fff,
                    0 0 40px #0fa,
                    0 0 80px #0fa,
                    0 0 90px #0fa,
                    0 0 100px #0fa,
                    0 0 150px #0fa;
            }
        
            20%, 24%, 55% {       
                text-shadow: none;
            }
            
        
}